<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Groupie Tracker</title>

</head>

<body>
    <h1>Groupie Tracker</h1>
    <p class="home">Find here the next concert dates of your favorite bands.</p>
    <div>
        {{ range .Tab }}
        <h2>{{ .Name }}</h2>
        <h3> Id </h3>
        <p>{{ .Id }}</p>
        <h3> Member </h3>
        <p> {{ range .Member }}
            {{ . }}
            <br></br>
            {{end}}
        </p>
        <h3> Creation </h3>
        <p> {{ .CreationDate }} </p>
        <h3> First album </h3>
        <p> {{ .FirstAlbum }} </p>
        <img class="image" src="{{ .Image }}">
        <h3>
            <form method="POST" action="/">
                <button class="myButton" name="ID" value="{{ .Id }}" value="{{ .Locations }}">
                    Locations
                </button>
                <br></br>
                <button class="myButton" name="ID" value="{{ .ConcertDates }}">
                    Concert Dates
                </button>

                <br></br>
                <button class="myButton" name="ID" value="{{ .Relations }}">
                    Relations
                </button>
                <br></br>
            </form>
        </h3>
        {{ end }}
    </div>

</body>