<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Groupie Tracker</title>

</head>

<body>
        <div>
        <h1 class="title">Groupie Tracker</h1>
         <br></br>
        <h1 class="subtitle">Find here the next concert dates of your favorite bands.</h1>
    </div>
    <div>
        {{ range .Tab }}
        <div class="container">
            <div class="card">
              <div class="box">
                <div class="content">
                    <h3>{{ .Name }}</h3>
                    <img class="image" src="{{ .Image }}">
                  <h3> Member </h3>
                  <p>{{ range .Member }}
                    {{ . }}
                    <br></br>
                    {{end}}</p>
                    <form method="POST" action="/"></form>
                    <button class="myButton" name="ID" value="{{ .Locations }}">
                        Locations
                    </button>
                    <br></br>
                    <button class="myButton" name="ID" value="{{ .ConcertDates }}">
                        Concert Dates
                    </button>
                    <br></br>
                     <button class="myButton" name="ID" value="{{ .Relations }}">
                    Relations
                    </button>
                </div>
              </div>
            </div>
        <h3>


                
                <br></br>
            </form>
        </h3>
        {{ end }}
    </div>

</body>