<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/index.css">
    <title>Groupie Tracker</title>
    <script src="/static/searchbar.js"></script>
</head>

<body>
    <ul class="Navigation">
           <input type="text" class="input" />
           <i class="fas fa-search"></i>
    </ul>
    <!-- <div class="slidecontainer">
        <input type="range" min="1900" max="2022" value="1979" class="slider" id="myRange">
    </div>
    <div class="slidecontainer">
        <input type="range" min="1900" max="2022" value="1979" class="slider" id="myRange">
    </div> -->
    <br></br>
    <h1 class="title">Groupie Tracker</h1>
    </div>
    <div id="card">
        <div class="container">
            {{ range .TabArtist }}
            <div class="card">
                <div class="box">
                    <div class="content">
                        <h3 id="name">{{ .Name }}</h3>
                        <img class="image" src="{{ .Image }}">
                        <h3> Member </h3>
                        <p id="member">{{ range .Member }}
                            {{ . }},
                            {{end}}
                            <br></br>
                        </p>
                        <h3>Creation date</h3>
                        <p id="createDate">{{ .CreationDate}}</p>
                        <br></br>
                        <h3>First Album</h3>
                        <p id="albumDate">{{ .FirstAlbum}}</p>
                        <br></br>
                        <form method="POST" action="/">

                            <button class="myButton" name="ID" value="Relations {{ .Id }}">
                                Relation
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    <form method="POST" action="/">
        <img src = "static/image.png" class="maison">
        <button class="bouton" value="accueil"></button>
    </form>
</body>